body {
    background-color: #f2f2f2;
    font-family: Arial;
  }
  form {
    background-color: rgb(202, 7, 7);
    color: white;
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    margin: 20px;
  }
  input, select {
    margin: 6px 0;
    padding: 5px;
    width: 95%;
  }
  input[type="submit"] {
    background-color: rgb(126, 5, 5);
    color: white;
    border: none;
    cursor: pointer;
  }

  /* Botão editar */
a[href*='update.php'] {
    color: #007bff;
}

a[href*='update.php']:hover {
    background-color: #0056b3;
}

/* Botão excluir */
a[href*='delete.php'] {
    color: rgb(202, 7, 7);
}

a[href*='delete.php']:hover {
    background-color: rgb(126, 5, 5);
}